#header {
  padding: 20px;
  span {
    margin: 30px;
    text-align: center;
    font-size: xx-large;
  }
}

.gif_list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;

  .gif_item {
    padding-left: 8px;
    padding-right: 8px;
    width: 500px;
    height: 500px;

    .thumb {
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }
}
