#header {
  padding: 20px;
  span {
    margin: 30px;
    text-align: center;
    font-size: xx-large;
  }
}

.gif_list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;

  .gif_item {
    margin: 10px;
    padding-left: 8px;
    padding-right: 8px;
    width: 300px;
    height: 300px;
    cursor: pointer;

    .thumb {
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50vh;
    background-color: white;
    text-align: center;
    padding: 50px 100px;
    position: relative;
    border-radius: 10px;
    top: 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    .modal__image {
      background-size: cover;
      width: 70%;
      height: 70%;
    }
  }
}

.hidden {
  display: none;
}
